SECRET_KEY=ed57fd34abcde688b15139637820f4b8938251453cc2e14a
AWS_ACCESS_KEY_ID=AKIAU2C32UQRKDQ25ZWM
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=ap-south-1
S3_BUCKET_NAME=my-thumbnail-generator-2026
SQS_QUEUE_URL=https://sqs.ap-south-1.amazonaws.com/330905068578/ImageProcessingQueue